@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_UserMaster.cshtml";
}
<link href='@Url.Content("~/css/public?v=dyD1wowgtvUyInonrLu3QNlfv8ZwzZKvX8XQFHZT63o1")' rel="stylesheet"/>
<link href='@Url.Content("~/css/public.css")' rel="stylesheet"/>
 <style>
      #footer {
    background: #f4f4f4  none repeat scroll 0 0;
}
       
            #home-slider-1 {
                padding-top: 65px !important;
            }
        
    </style>   
<div id="home-slider-1">
    <div class="container">
        <div class="wow fadeInDown heading-full text-left">
            <h2>Member Registration</h2>
            <span></span>
        </div>
        <div class="col-md-12">
            <h4>Congratulations,</h4>
            <p class="justify">
               Your account has been created successfully. You will receive an email notification with activation link shortly. Please check your mail inbox. If you have not recieve an email yet, you may want to wait a few minutes. If it has taken more than a few minutes, please check your mail spam/junk folder.

            </p>
            OR
            <p><a href="/registraion/resend">Click Here</a> to Resend confirmation Mail.</p>
        </div>
    </div>
    <br /><br /><br />
</div>
 <br />
@*<div id="home-slider-1">
    <div class="container">
        <div class="wow fadeInDown heading-full text-left">
            <h2>Email Confirmation</h2>
            <span></span>
        </div>
        <div class="col-md-12">
            <h2>Congratulations,</h2>
            <p class="justify">
                Your email address has been verified successfully. Thank you for Joining Dot Net Tricks!.
            </p>
            <p>
                Now, you can login into your account by following <a href="/member-login">Login link</a>
            </p>
        </div>
    </div>
    <br /><br /><br />
</div>*@
