@model IEnumerable<Video_Streaming.Dbml.tbl_subscription>

@{
    ViewBag.Title = "Active Subscriptions Report";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="tables-advanced.html#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="tables-advanced.html#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>
	<h2 class="panel-title">Active Subscription</h2>
	</header>
	<div class="panel-body">
       
	           <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-tabletools" data-swf-path='@Url.Content("~/vendor/jquery-datatables/extras/TableTools/csv_xls_pdf.swf")' role="grid" aria-describedby="datatable-tabletools_info">

	        <thead>
	            <tr>
       
        <th>
         Login Name
        </th>
        <th>
           Payment Date
        </th>
        <th>
            Subscription end Date
        </th>
      
       
    </tr>
  </thead>
	        <tbody>
@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.tbl_registration.reg_fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_pay_date)
        </td>
        <td>
            @item.sub_end_date.ToShortDateString()
        </td>
       
     
     </tr>
              }                
             </tbody>
         </table>
       </div>
    </section>
<script>
    function fnmenu() {

        $('#subcription').addClass('nav-active');
    }
        </script>    
