@model IEnumerable<Video_Streaming.Dbml.tbl_login>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="tables-advanced.html#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="tables-advanced.html#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>
	<h2 class="panel-title">Login</h2>
	</header>
	<div class="panel-body">
       <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-tabletools" data-swf-path='@Url.Content("~/vendor/jquery-datatables/extras/TableTools/csv_xls_pdf.swf")' role="grid" aria-describedby="datatable-tabletools_info">
	 
	        <thead>
	            <tr>
                    <th>
            Email ID
        </th>
       @* <th>
            Password
        </th>*@
                    <th>Status</th>
                    <th>Date</th>
                  
                </tr>
            </thead>
	        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.email)
                     </td>
                    @* <td>
                         @Html.DisplayFor(modelItem => item.password)
                     </td>*@
                       <td>
                         @{
                var str = ""; 
                if (item.log_status == "Active")
                            {
                                str = "Active";
                            }
                            else {
                                 str = "Inactive";
                            }
                            }
                          @str
                     </td>
                       <td>
                          @item.log_date.ToShortDateString()
                     </td>
                  
                </tr>
              }                
             </tbody>
         </table>
       </div>
    </section>

<script>
            function fnmenu() {
             
                $('#login').addClass('nav-active');
        }
        </script>    